In [1]:
import sys
sys.path.append('..')
from configure.settings import DBSelector

In [2]:
mongo = DBSelector().mongo('qq')

In [3]:
document=mongo['db_stock']['ttjj_rank_2021_12_15']

In [4]:
result_list = document.find({},{'_id':0})

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(result_list)

In [7]:
df.head()

,type,crawl_date,基金代码,基金简称,缩写,日期,单位净值,累计净值,日增长率(%),近1周增幅,...,成立来,成立日期,购买手续费折扣,自定义,手续费原价？,手续费折后？,布吉岛1,布吉岛2,布吉岛3,布吉岛4
0,指数,2021-12-15,163114,申万菱信中证环保产业指数(LOF)A,SWLXZZHBCYZSLOFA,2021-12-15,1.8665,3.1318,-0.05,0.64,...,172.33,2014-05-30,1,73.4827,1.20%,0.12%,1,0.12%,1,100.45
1,指数,2021-12-15,010419,申万菱信中证环保产业指数(LOF)C,SWLXZZHBCYZSLOFC,2021-12-15,1.8141,1.8141,-0.04,0.64,...,81.41,2020-10-23,1,72.9856,,0.00%,,,,
2,指数,2021-12-15,010805,东财新能源车A,DCXNYCA,2021-12-15,1.6324,1.6324,-1.08,-1.92,...,63.24,2020-12-16,1,63.24,1.20%,0.12%,1,0.12%,1,
3,指数,2021-12-15,160634,鹏华中证环保产业指数(LOF),PHZZHBCYZSLOF,2021-12-15,1.8140,1.2930,-0.11,0.33,...,38.21,2015-06-16,1,70.9709,1.20%,0.12%,1,0.12%,1,87.07
4,指数,2021-12-15,010806,东财新能源车C,DCXNYCC,2021-12-15,1.6259,1.6259,-1.09,-1.93,...,62.59,2020-12-16,1,62.59,,0.00%,,,,

In [ ]:
df=df.drop_duplicates(['基金代码'])

In [10]:
len(df)

11575

In [ ]:
df.info()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11575 entries, 0 to 11574
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   type        11575 non-null  object
 1   crawl_date  11575 non-null  object
 2   基金代码        11575 non-null  object
 3   基金简称        11575 non-null  object
 4   缩写          11575 non-null  object
 5   日期          11575 non-null  object
 6   单位净值        11575 non-null  object
 7   累计净值        11575 non-null  object
 8   日增长率(%)     11575 non-null  object
 9   近1周增幅       11575 non-null  object
 10  近1月增幅       11575 non-null  object
 11  近3月增幅       11575 non-null  object
 12  近6月增幅       11575 non-null  object
 13  近1年增幅       11575 non-null  object
 14  近2年增幅       11575 non-null  object
 15  近3年增幅       11575 non-null  object
 16  今年来         11575 non-null  object
 17  成立来         11575 non-null  object
 18  成立日期        11575 non-null  object
 19  购买手续费折扣     11575 non-null  object
 20  自定义         11575 non-null  object
 21  手续费原价？      11575 non-null  object
 22  手续费折后？      11575 non-null  object
dtypes: object(23)
memory usage: 2.0+ MB

In [8]:
def convertor(x):
    try:
        x=float(x)
    except:
        x=-9999
    return x

In [19]:

df['今年来']=df['今年来'].map(convertor)

In [15]:
del df['布吉岛1']

In [13]:
del df['布吉岛2']
del df['布吉岛3']
del df['布吉岛4']

In [ ]:
df.sort_values(by='今年来',ascending=True).head(20)

In [22]:
# 换手率

In [9]:
turnover_db = DBSelector().mongo('qq')['db_stock']['turnover_2021_12_15']

In [10]:
rank_db = DBSelector().mongo('qq')['db_stock']['ttjj_rank_2021_12_15']

In [71]:
result_list=[]
for item in turnover_db.find():
    item_dict={}
    item_dict['code']=item['code']
    
    rate_list = item['turnover_rate']
    item_dict['kind']=item['kind']
    turnover_num=None
    sum_turnover=[]
    for r in rate_list:
        # r.get('REPORTDATE')=='2021-06-30':
        turnover_num=r.get('STOCKTURNOVER')
        sum_turnover.append(turnover_num)
    t_mean=np.mean(sum_turnover)    
    item_dict['turnover']=t_mean
    result_list.append(item_dict)

In [4]:
import pandas as pd

In [72]:
turnover_rate_df = pd.DataFrame(result_list)

In [11]:
len(turnover_rate_df)

9600

In [12]:
turnover_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9600 entries, 0 to 9599
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      9600 non-null   object
 1   kind      9600 non-null   object
 2   turnover  5567 non-null   float64
dtypes: float64(1), object(2)
memory usage: 225.1+ KB

In [29]:
turnover_rate_df.sort_values('turnover',ascending=False)

        code  turnover
2146  005856   4338.81
2145  005855   4338.81
2084  001569   2996.75
3786  519097   2706.39
3879  003238   2528.70
...      ...       ...
9595  013573       NaN
9596  013228       NaN
9597  970013       NaN
9598  013428       NaN
9599  014035       NaN

[9600 rows x 2 columns]

In [73]:
turnover_rate_df=turnover_rate_df[turnover_rate_df['turnover'].notnull()]

In [74]:
turnover_rate_df.head()

     code kind  turnover
0  163114   指数     79.45
1  010419   指数     79.45
3  160634   指数     85.84
5  164304   指数     91.52
6  501057   指数    143.73

In [14]:
len(turnover_rate_df)

5567

In [15]:
turnover_rate_df.sort_values('turnover',ascending=False)

        code kind  turnover
2146  005856   混合   4338.81
2145  005855   混合   4338.81
2084  001569   混合   2996.75
3786  519097   混合   2706.39
3879  003238   混合   2528.70
...      ...  ...       ...
7319  008874   债券      0.15
4322  167501  lof      0.12
6876  550018   债券      0.10
7205  550019   债券      0.10
4255  160618  lof      0.05

[5567 rows x 3 columns]

In [16]:
turnover_rate_df.describe()

          turnover
count  5567.000000
mean    210.741636
std     256.180416
min       0.050000
25%      57.045000
50%     128.570000
75%     279.850000
max    4338.810000

In [ ]:
turnover_backup=turnover_rate_df.copy()

for index,item in turnover_rate_df[turnover_rate_df['kind']=='债券'].iterrows():

In [17]:
dup=turnover_rate_df.duplicated('code')

In [19]:
turnover_rate_df[dup]

Empty DataFrame
Columns: [code, kind, turnover]
Index: []

In [20]:
turnover_rate_df=turnover_rate_df[turnover_rate_df['kind']!='债券']

In [21]:
len(turnover_rate_df)

4971

In [23]:
turnover_rate_df=turnover_rate_df[turnover_rate_df['kind']!='fof']

In [22]:
turnover_rate_df['kind'].value_counts()

混合      3443
指数       805
股票       484
qdii     113
lof       88
fof       38
Name: kind, dtype: int64

In [24]:
stock_code = turnover_rate_df[turnover_rate_df['kind']=='股票']['code'].values

In [25]:
stock_code

array(['005669', '004784', '000729', '001245', '009147', '000828',
       '001877', '005927', '005928', '006081', '006080', '008009',
       '000756', '005037', '005038', '004925', '005825', '009954',
       '006257', '001410', '003853', '003834', '005885', '005983',
       '001476', '540008', '001643', '005161', '000409', '001644',
       '001790', '001404', '007590', '001576', '000696', '671030',
       '005628', '001718', '003145', '004812', '001166', '010128',
       '005009', '005629', '160919', '010129', '004813', '001070',
       '000592', '001167', '001158', '006926', '009398', '000985',
       '006265', '009491', '000309', '005569', '003984', '009492',
       '001072', '519975', '005570', '001054', '003985', '001677',
       '005457', '005802', '001719', '007137', '004350', '004616',
       '003069', '001628', '005310', '007138', '001039', '001825',
       '002168', '001208', '005763', '002210', '008177', '005968',
       '001097', '000866', '001521', '004640', '005962', '002871',
       '003865', '001672', '002872', '005969', '007831', '008445',
       '320020', '003624', '007832', '005963', '001917', '003625',
       '001028', '007950', '004997', '001975', '000326', '008085',
       '006251', '206012', '001956', '008084', '005402', '000628',
       '009513', '162208', '010003', '000586', '000549', '009514',
       '010004', '005189', '000991', '001725', '005188', '007903',
       '001637', '007674', '007685', '001496', '001692', '007675',
       '001396', '001616', '008128', '004292', '008129', '000916',
       '001528', '002289', '000978', '009891', '003298', '005505',
       '001707', '002861', '006478', '003299', '005506', '000803',
       '006346', '001645', '006751', '519935', '006347', '000457',
       '001520', '003053', '001171', '001749', '009043', '320022',
       '003956', '003054', '003416', '006195', '000418', '002980',
       '004352', '001050', '000471', '001490', '007952', '001736',
       '000893', '001236', '001008', '001541', '006502', '002556',
       '001043', '001188', '005495', '004698', '006503', '163110',
       '005496', '000867', '000513', '001291', '001126', '340006',
       '006692', '008871', '005660', '000594', '008294', '005035',
       '005661', '009341', '000697', '008872', '002595', '005328',
       '001717', '006693', '005036', '010141', '001714', '000082',
       '005635', '009069', '001938', '008295', '009070', '004730',
       '008134', '010142', '005960', '008537', '004683', '005826',
       '005235', '001036', '004241', '005636', '009476', '000524',
       '005236', '008538', '450009', '162107', '005961', '010013',
       '009658', '001048', '009557', '000831', '007133', '001186',
       '000793', '001726', '007134', '009775', '006803', '376510',
       '001409', '001482', '000925', '673090', '001195', '580008',
       '007388', '007470', '001705', '001651', '540010', '007471',
       '000971', '164205', '007389', '001849', '004716', '001473',
       '001583', '519714', '519965', '009126', '009874', '001974',
       '003745', '004858', '003230', '004891', '001009', '009127',
       '001042', '001542', '004892', '003190', '003231', '001733',
       '009106', '007750', '000979', '002229', '009107', '009113',
       '003191', '004040', '009875', '005894', '000577', '009876',
       '001577', '004041', '002952', '004686', '001416', '006868',
       '001277', '001040', '006002', '004403', '008314', '006193',
       '006003', '004484', '000996', '005267', '004404', '004485',
       '008315', '006194', '006604', '000778', '001421', '360001',
       '006605', '001163', '001313', '008736', '001319', '000411',
       '005502', '002334', '008618', '008283', '008619', '008737',
       '007853', '002335', '001605', '006138', '008234', '003232',
       '009805', '005259', '009537', '540006', '001223', '001105',
       '003233', '004075', '009538', '005106', '000688', '540009',
       '004450', '005662', '519193', '000884', '008303', '001781',
       '005663', '007965', '000854', '003634', '008304', '008958',
       '007966', '519606', '004606', '001104', '008261', '006675',
       '001044', '001766', '002621', '005303', '001685', '009550',
       '009240', '000761', '004476', '008166', '009877', '519673',
       '005268', '005620', '009162', '008262', '006676', '001579',
       '007548', '000913', '005970', '001626', '002697', '005304',
       '006603', '001703', '540007', '009551', '167702', '008167',
       '005621', '167703', '000711', '001230', '002300', '004851',
       '006981', '001162', '008286', '001638', '008264', '399011',
       '000955', '009414', '007005', '160133', '008860', '008382',
       '009988', '008265', '001178', '005237', '001878', '002387',
       '005238', '000746', '006228', '008412', '000960', '007512',
       '004098', '009601', '000751', '001047', '009899', '008934',
       '005612', '006229', '008413', '009602', '001915', '008768',
       '004805', '008935', '004189', '008769', '007523', '000780',
       '110022', '007524', '008854', '008107', '008855', '006106',
       '009863', '000974', '006818', '002121', '006819', '009265',
       '008075', '007287', '004995', '160127', '002332', '001193',
       '005777', '007288', '008076', '002333', '006923', '006924',
       '006911', '006957', '009017', '009896', '005707', '009897',
       '006671', '006781', '160322', '001764', '009733', '009734',
       '008709', '009898', '005209', '005210'], dtype=object)

In [26]:
index_code = turnover_rate_df[turnover_rate_df['kind']=='指数']['code'].values

In [27]:
set(index_code)&set(stock_code)

set()

In [29]:
rank_list=[]
for item in rank_db.find({},{'_id':0}):
    rank_list.append(item)

In [30]:
rank_df = pd.DataFrame(rank_list)

In [34]:
fund_dup_code = rank_df[rank_df.duplicated('基金代码')]['基金代码'].values

In [35]:
len(fund_dup_code)

1975

In [75]:
rank_df_new=rank_df[(rank_df['type']=='股票')|(rank_df['type']=='混合')]

In [39]:
len(rank_df_new)

7181

In [76]:
rank_df_new[rank_df_new.duplicated(['基金代码'])]

Empty DataFrame
Columns: [type, crawl_date, 基金代码, 基金简称, 缩写, 日期, 单位净值, 累计净值, 日增长率(%), 近1周增幅, 近1月增幅, 近3月增幅, 近6月增幅, 近1年增幅, 近2年增幅, 近3年增幅, 今年来, 成立来, 成立日期, 购买手续费折扣, 自定义, 手续费原价？, 手续费折后？, 布吉岛1, 布吉岛2, 布吉岛3, 布吉岛4]
Index: []

[0 rows x 27 columns]

In [77]:
rank_fund_turnover = pd.merge(rank_df_new,turnover_rate_df,how='inner',left_on='基金代码',right_on='code')

In [78]:
rank_df_new.groupby('基金代码').count()>1

,type,crawl_date,基金简称,缩写,日期,单位净值,累计净值,日增长率(%),近1周增幅,近1月增幅,...,成立来,成立日期,购买手续费折扣,自定义,手续费原价？,手续费折后？,布吉岛1,布吉岛2,布吉岛3,布吉岛4
基金代码,,,,,,,,,,,,,,,,,,,,,
000001,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
000006,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
000008,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
000011,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
000017,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970069,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
970073,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
970074,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
970093,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
970095,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
len(rank_df_new)

7181

In [50]:
len(turnover_rate_df['code'].values)

4933

In [49]:
len(set(turnover_rate_df['code'].values))

4933

In [53]:
len(rank_fund_turnover)

4793

In [54]:
rank_fund_turnover.head()

,type,crawl_date,基金代码,基金简称,缩写,日期,单位净值,累计净值,日增长率(%),近1周增幅,...,自定义,手续费原价？,手续费折后？,布吉岛1,布吉岛2,布吉岛3,布吉岛4,code,kind,turnover
0,股票,2021-12-15,005669,前海开源公用事业股票,QHKYGYSYGP,2021-12-15,3.6923,3.6923,0.89,1.67,...,145.3355,1.50%,0.15%,1,0.15%,1,,005669,股票,114.20
1,股票,2021-12-15,004784,招商稳健优选股票,ZSWJYXGP,2021-12-15,3.7029,3.7029,-0.10,0.47,...,85.6276,1.50%,0.15%,1,0.15%,1,,004784,股票,338.84
2,股票,2021-12-15,000729,建信中小盘先锋股票A,JXZXPXFGPA,2021-12-15,4.2240,4.2240,0.91,2.20,...,78.0776,1.50%,0.15%,1,0.15%,1,200.64,000729,股票,631.63
3,股票,2021-12-15,001245,工银生态环境股票,GYSTHJGP,2021-12-15,2.9740,2.9740,-0.77,-1.03,...,84.1486,1.50%,0.15%,1,0.15%,1,239.50,001245,股票,235.40
4,股票,2021-12-15,009147,建信新能源行业股票,JXXNYHYGP,2021-12-15,2.8684,2.8684,-1.08,-1.81,...,89.2834,1.50%,0.15%,1,0.15%,1,,009147,股票,88.56

In [79]:
rank_fund_turnover_simple=rank_fund_turnover[['type','基金代码','基金简称','今年来','成立来','turnover','累计净值']]

In [57]:
rank_fund_turnover_simple.head()

  type    基金代码        基金简称     今年来     成立来  turnover    累计净值
0   股票  005669  前海开源公用事业股票  122.24  269.23    114.20  3.6923
1   股票  004784    招商稳健优选股票   69.90  270.29    338.84  3.7029
2   股票  000729  建信中小盘先锋股票A   67.22  322.40    631.63  4.2240
3   股票  001245    工银生态环境股票   66.24  197.40    235.40  2.9740
4   股票  009147   建信新能源行业股票   65.94  186.84     88.56  2.8684

In [58]:
rank_fund_turnover_simple.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4793 entries, 0 to 4792
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      4793 non-null   object
 1   基金代码      4793 non-null   object
 2   基金简称      4793 non-null   object
 3   今年来       4793 non-null   object
 4   成立来       4793 non-null   object
 5   turnover  4793 non-null   float64
 6   累计净值      4793 non-null   object
dtypes: float64(1), object(6)
memory usage: 299.6+ KB

In [80]:
rank_fund_turnover_simple['今年来']=rank_fund_turnover_simple['今年来'].map(convertor)
rank_fund_turnover_simple['成立来']=rank_fund_turnover_simple['成立来'].map(convertor)

<ipython-input-80-3a6386e959a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_fund_turnover_simple['今年来']=rank_fund_turnover_simple['今年来'].map(convertor)
<ipython-input-80-3a6386e959a2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_fund_turnover_simple['成立来']=rank_fund_turnover_simple['成立来'].map(convertor)

In [61]:
rank_fund_turnover_simple.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4793 entries, 0 to 4792
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      4793 non-null   object
 1   基金代码      4793 non-null   object
 2   基金简称      4793 non-null   object
 3   今年来       4793 non-null   float64
 4   成立来       4793 non-null   float64
 5   turnover  4793 non-null   float64
 6   累计净值      4793 non-null   object
dtypes: float64(3), object(4)
memory usage: 299.6+ KB

In [84]:
pd.set_option('display.max_rows',None)

In [87]:
rank_fund_turnover_simple.sort_values(by='成立来',ascending=False).head(50).to_excel('111.xlsx',encoding='utf8')

In [88]:
rank_fund_turnover_simple.sort_values(by='成立来',ascending=False).head(50)['turnover'].describe()

count      50.000000
mean      190.172400
std       192.410815
min        17.960000
25%        79.732500
50%       117.380000
75%       243.692500
max      1202.400000
Name: turnover, dtype: float64

In [82]:
rank_fund_turnover_simple.sort_values(by='成立来',ascending=True).head(40)

     type    基金代码                基金简称      今年来    成立来  turnover    累计净值
944    股票  164818      工银中证传媒指数(LOF)A    -2.01 -72.25     99.48  0.2898
656    股票  160639     鹏华中证高铁产业指数(LOF)     5.34 -62.43    133.19    0.38
678    股票  160135     南方中证高铁产业指数(LOF)     4.80 -54.22    141.80  1.0137
270    股票  162413          华宝中证1000指数    20.19 -50.22     48.37  0.4850
492    股票  161123    易方达中证万得并购重组(LOF)    11.27 -45.25    144.18  0.5358
43     股票  168203     中融国证钢铁行业指数(LOF)    45.16 -42.13    429.07    1.35
295    股票  164908      交银中证环境治理(LOF)A    18.90 -41.62    282.21  0.5838
856    股票  165523    信诚中证信息安全指数(LOF)A    -0.32 -39.21    107.45  0.6175
4117   混合  001239            长盛国企改革混合     1.56 -35.10    288.23  0.6490
652    股票  502013   长盛中证申万一带一路指数(LOF)     5.39 -34.49    103.28  1.4976
254    股票  501031        汇添富中证环境治理指数C    20.91 -33.79    446.01  0.6621
243    股票  501030        汇添富中证环境治理指数A    21.37 -33.22    446.01  0.6678
570    股票  165524    信诚中证智能家居指数(LOF)A     8.41 -33.04     79.12  0.6571
234    股票  160420           华安创业板50指数    21.89 -31.02     70.33  0.6898
636    股票  161030    富国中证体育产业指数(LOF)A     5.74 -30.46    279.48  0.6870
922    股票  161027  富国中证全指证券公司指数(LOF)A    -1.67 -29.34     49.32  0.6580
984    股票  001899              东海社会安全    -2.87 -29.00     32.04    0.71
1249   股票  162412          华宝医疗ETF联接A   -13.86 -27.86     98.93  0.6909
388    股票  001241      国寿安保中证500ETF联接    15.52 -27.68     50.74  0.7233
1275   股票  006817          泰康港股通地产指数C   -20.46 -27.66    260.72  0.7234
1039   股票  160629       鹏华中证传媒指数(LOF)    -4.37 -27.65     46.28  1.2140
934    股票  160633               鹏华券商A    -1.89 -27.46     55.78  0.6790
1273   股票  006816          泰康港股通地产指数A   -20.16 -26.95    260.72  0.7305
950    股票  161720  招商中证全指证券公司指数(LOF)A    -2.08 -26.22     70.44  0.7749
1200   股票  161036  富国中证娱乐主题指数增强(LOF)A   -10.57 -25.88     58.15  0.7412
558    股票  001409            工银互联网加股票     9.06 -25.40     87.19  0.7460
91     股票  167503        安信中证一带一路主题指数    34.13 -24.94     88.54  0.8060
4819   混合  519651              银河转型混合    -9.18 -24.80    237.80  0.7520
1328   股票  010593           南方医药创新股票C -9999.00 -23.77     59.35  0.7623
1321   股票  010592           南方医药创新股票A -9999.00 -23.41     59.35  0.7659
5307   混合  011163        博时港股通领先趋势混合C -9999.00 -21.75    187.56  0.7825
1280   股票  008709              银河龙头股票   -22.86 -21.71    254.63  0.7829
3241   混合  001184        易方达新常态灵活配置混合     6.65 -21.40     63.24  0.7860
1281   股票  009898          民生加银医药健康股票   -23.54 -21.24    244.58  0.7876
5108   混合  011162        博时港股通领先趋势混合A -9999.00 -21.22    187.56  0.7878
1314   股票  010204         中银港股通优势成长股票 -9999.00 -21.00    104.44    0.79
1287   股票  007357        创金合信港股通量化股票C -9999.00 -21.00    528.40    0.79
5169   混合  011158      弘毅远方港股通智选领航混合C -9999.00 -20.80    301.19  0.7920
1168   股票  004643         南方房地产ETF联接C    -8.68 -20.75      5.81  0.7925
1279   股票  009734     创金合信港股通大消费精选股票C   -22.84 -20.54    245.15  0.7946

In [89]:
rank_fund_turnover_simple.sort_values(by='成立来',ascending=True).head(50).to_excel('222.xlsx',encoding='utf8')

In [90]:
rank_fund_turnover_simple.sort_values(by='成立来',ascending=True).head(50)['turnover'].describe()

count     50.000000
mean     170.341600
std      136.754242
min        5.810000
25%       60.322500
50%      121.350000
75%      253.402500
max      528.400000
Name: turnover, dtype: float64

In [95]:
rank_fund_turnover_simple_new=rank_fund_turnover_simple[rank_fund_turnover_simple['今年来']!=-9999]

In [98]:
rank_fund_turnover_simple_new.sort_values(by='成立来',ascending=True).head(50)['turnover'].describe()

count     50.000000
mean     164.931800
std      162.702669
min        3.500000
25%       56.372500
50%      101.380000
75%      245.150000
max      715.890000
Name: turnover, dtype: float64

In [97]:
rank_fund_turnover_simple_new.sort_values(by='成立来',ascending=True).head(50).to_excel("333.xlsx",encoding='utf8')

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\xda'